<div class="container title-address">
    <h2>Dados para envio - {{id}}</h2>

    <div class="row">
        <div class="col-sm">
            <div class="img-address">
                <h3>Titulo: {{title}}</h3>
                <img [src]="path+'.'+extension" alt="">
            </div>
            <div class="info-address">
                <span>Series:</span>
                <p> {{series}}</p>

                <span>Descrição:</span> 
                <p>{{description}}</p>

                <span>Preço:</span> 
                <p>{{price}}</p>
            </div>
        </div>

        <div class="col-sm">

            <div class="col-sm">

                <h3>Preencha os dados para envio do produto</h3>
                <iframe class="map-my-addess"
                allowfullscreen
                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCfhuZYC4e65MjKe3kv-98j4tHstOcy2-0
                    &q=Paraíba+BR">
                </iframe>
            </div>
            <div class="col-sm">
                <form>
                    <div class="form-group">
                      <label>Nome:</label>
                      <input class="form-control" name="name" placeholder="Digite seu nome" 
                      [(ngModel)]="name" >
                    </div>
    
                    <div class="form-group">
                        <label>Rua:</label>
                        <input class="form-control" name="street" placeholder="Rua para entrega" 
                        [(ngModel)]="street" [disabled]="name === ''">
                    </div>
    
                    <div class="form-group">
                        <label>Cidade:</label>
                        <input class="form-control" name="city" placeholder="Qual cidade?" 
                        [(ngModel)]="city" [disabled]="street === ''">
                    </div>
    
                    <div class="form-group">
                        <label>País:</label>
                        <input class="form-control" name="country" placeholder="Qual país?" 
                        [(ngModel)]="country" [disabled]="city === ''">
                    </div>

                    <mat-card-actions>
                        <button 
                        class="button-item-cancel"
                        (click)="cancel()"
                        >CANCELAR
                        </button>
                        <button 
                        class="button-item"
                        (click)="effectuatePurchase()"
                        [disabled]="name === '' && street === '' && city === '' && country === ''"
                        >COMPRAR
                        </button>
                    </mat-card-actions>
                  </form>
            </div>
            
        </div>
    </div>
</div>
