<div class="container title-address">
    <h2>Dados para envio - {{id}}</h2>

    <div class="row">
        <div class="col-sm">
            <iframe
            width="400"
            height="450"
            style="border:0"
            loading="lazy"
            allowfullscreen
            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCfhuZYC4e65MjKe3kv-98j4tHstOcy2-0
                &q=Natal+BR">
            </iframe>
        </div>

        <div class="col-sm">
            <form>
                <div class="form-group">
                  <label>Nome:</label>
                  <input type="nome" class="form-control" placeholder="Digite seu nome">
                </div>

                <div class="form-group">
                    <label>Rua:</label>
                    <input type="rua" class="form-control" placeholder="Rua para entrega">
                </div>

                <div class="form-group">
                    <label>Cidade:</label>
                    <input type="nome" class="form-control" placeholder="Qual cidade?">
                </div>

                <div class="form-group">
                    <label>País:</label>
                    <input type="pais" class="form-control" placeholder="Qual país?">
                </div>
              </form>
        </div>
    </div>
</div>
