
<mat-toolbar>
    <mat-toolbar-row class="header">
        <span>
            <a routerLink="/" class="logo">
                <img src="../assets/img/logo.png" alt="Desafio Quadrinhos Marvel">
            </a>
        </span>
        <span class="title">
            Desafio Quadrinhos Marvel
        </span>
        <span class="material-icons dash">
            dashboard
        </span>

        <span class="espaco"></span>

        <ul class="nav justify-content-end">
            <li class="nav-item">
              <a class="nav-link" routerLink="/">Início
                <i class="material-icons">home</i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/my-comics">Meus Quadrinhos
                <i class="material-icons">shopping_cart</i>
              </a>
            </li>
          </ul>
    </mat-toolbar-row>
</mat-toolbar>