.logo img{
    height: 150px;
    margin: 0px 40px 0px 40px;
}

.header {
    background-color: rgb(255, 255, 255);
    height: 150px;
}

.header .title {
    font-size: 18px;
    font-family: Helvetica;
    margin-right: 10px;
}

.header .dash {
    color: rgba(255, 58, 32, 0.973);

}

.material-icons {
    vertical-align: middle;
}

.espaco {
    flex: 1 1 auto;
}