.container-comic {
    font-family: Helvetica;
    font-size: 18px;
}

.title-comic h2{
    font-size: 2.0rem;
    text-align: center;
    margin-bottom: 60px;
    font-weight: bold;
    color: rgb(245, 45, 38);
    text-shadow: rgb(73, 71, 71) 3px 3px 3px;
}

.img-comic img {
    margin-left: 40px;
    width: 25rem;
}

.detalhes-comic h3 {
    font-size: 1.8rem;
    font-weight: bold;
    color: rgb(245, 45, 38);
}

.detalhes-comic span {
    font-size: 1.0rem;
    font-weight: bold;
    margin-right: 5px;
    font-family: Helvetica;
}

.button-item {
    font-size: 12px;
    width: 150px;
    height: 40px;
    color: white;
    background-color: rgba(153, 152, 152, 0.959);
    border: 1px solid lightgray;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
}

.button-item:hover {
    font-size: 12px;
    width: 150px;
    height: 40px;
    color: rgb(20, 20, 20);
    background-color: rgba(153, 152, 152, 0.959);
    border: 1px solid rgb(24, 23, 23);
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
}