<div class="container title-comic">
    <h2>Pedido #{{id}}</h2>

    <div class="row container-comic">
        <div class="col-sm-6 img-comic">
            <img [src]="path+'.'+extension" >
        </div>
        <div class="col-sm-6 detalhes-comic">
            <h3>{{title}}</h3>
            <h4><span>Series:</span> {{series}}</h4>
            <p><span>Preço:</span> {{price | currency}}</p>
            <p><span>Cliente:</span> {{name}}</p>
            <p><span>Endereço:</span> {{street}} - {{city}} - {{country}}</p>
            

            <mat-card-actions>
                <button 
                class="button-item"
                (click)="cancel()">
                    MEUS QUADRINHOS
                </button>
            </mat-card-actions>

        </div>
    </div>
</div>